<%= title "修改密码" %>


<%= simple_form_for(resource, :url => update_password_user_registration_path, :html => { :method => :put }) do |f| %>
  <ul>
    <li class="fbxx_footer_zi4">旧密码：</li>
    <li><%= f.input :current_password, label: false, wrapper: false, as: :password, input_html: {autocomplete: "off", class: "wenben11"} %></li>
  </ul>
  <ul>
    <li class="fbxx_footer_zi4">新密码：</li>
    <li><%= f.input :password, label: false, wrapper: false, as: :password, input_html: {autocomplete: "off", class: "wenben11"} %></li>
  </ul>
  <ul>
    <li class="fbxx_footer_zi4">确认新密码：</li>
    <li><%= f.input :password_confirmation, as: :password, label: false, wrapper: false, input_html: {autocomplete: "off", class: "wenben11"} %></li>
  </ul>
  <ul>
    <li>
    <%= f.submit "确认修改", class: "anniu18", style: "background:url(/assets/ht_qyjj_anniu.gif)" %>
    </li>
  </ul>
<% end %>
